<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Linguize">

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".menu.CheckActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Linguize.Overlay" />

        <!--
            Text-selection menu entries. Each label appears in the menu; settings switches
            them on and off (see menu/SelectionMenu.kt). Only auto-detect is on to begin with.
        -->
        <activity-alias
            android:name=".menu.LinguizeEntry"
            android:enabled="true"
            android:exported="true"
            android:label="@string/menu_auto"
            android:targetActivity=".menu.CheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".menu.CatalanizeEntry"
            android:enabled="false"
            android:exported="true"
            android:label="@string/menu_catalan"
            android:targetActivity=".menu.CheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".menu.CastilianizeEntry"
            android:enabled="false"
            android:exported="true"
            android:label="@string/menu_castilian"
            android:targetActivity=".menu.CheckActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <!-- The accessibility button, for apps whose selection menu doesn't show the entries above. -->
        <service
            android:name=".accessibility.LinguizeAccessibilityService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>
    </application>
</manifest>
